<div class="border border-text/10 rounded-default p-4">
    <div class="flex items-center gap-2 font-display mb-3">
        <app-ui-avatar [src]="userService.getUserAvatarUrl(post.author.id)" [size]="28" />
        <div>
          <a routerLink="/user/{{ post.author.id }}">{{ "@" }}{{ post.author.username }}</a>
          @if (post.community) {
            for <a routerLink="/community/{{ post.community.id }}">{{ post.community.name }}</a>
          }
        </div>
        <span class="h-1 w-1 rounded-full bg-text/60"></span>
        <div class="text-text/80">{{ timeElapsed }}</div>
    </div>
    @if (isEditing()) {
      <app-post-form [initialFiles]="post.files" [initialImages]="post.images" [canChangeCommunity]="false" [handleSend]="handleEditFinish.bind(this)" [initialDetails]="{ title: post.title, content: post.content }" />
      <div class="h-4"></div>
    } @else {
      <h2 class="font-bold text-lg font-display mb-1">{{ post.title }}</h2>
      <div [innerHtml]="renderedContent" class="mb-4 text-text/90"></div>
    }

    @if (post.images.length && !isEditing()) {
      <app-ui-post-gallery [images]="post.images" />
    }

    <app-ui-post-footer (onVote)="handleVote($event)" (onEditClick)="handleEditClick()" [post]="post" />
</div>
