<div class="border border-text/10 rounded-default p-4">
    <div class="flex items-center gap-2 font-display mb-3">
        <app-ui-avatar [src]="userService.getUserAvatarUrl(post.author.id)" [size]="28" />
        @if (post.community) {
            <div>{{ "@" }}{{ post.author.username }} for {{ post.community.name }}</div>
        } @else {
            <div>{{ "@" }}{{ post.author.username }}</div>
        }
        <span class="h-1 w-1 rounded-full bg-text/60"></span>
        <div class="text-text/80">{{ timeElapsed }}</div>
    </div>
    <h2 class="font-bold text-lg font-display mb-1">{{ post.title }}</h2>
    <div [innerHtml]="renderedContent" class="mb-4 text-text/90"></div>
    <app-ui-post-footer [post]="post" />
</div>
