@import "./app/styles/dialog.css";
@import "./app/styles/typography.css";
@import "./app/styles/components.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --text: 21 19 21;
        --background: 246 244 246;
        --primary: 82 62 86;
        --secondary: 188 159 193;
        --accent: 124 76 133;
        --error: 239 68 68; 
        
        --border-radius: 0.5rem;

        --font-sans: "Inter Variable";
        --font-display: "Space Grotesk Variable";
    }

    .dark {
        --text: 236 234 236;
        --background: 10 8 10;
        --primary: 189 170 193;
        --secondary: 90 62 95;
        --accent: 171 124 179;
    }
}

@layer components {
    .button {
        @apply rounded-full px-4 py-2
    }

    .button.primary {
        @apply bg-primary
    }

    .button.secondary {
        @apply bg-secondary
    }

    hr {
        @apply h-[1px] w-full bg-text/10 border-none
    }
}