@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

    :root {
        --text: 5 5 6;
        --background: 246 245 250;
        --primary: 76 60 196;
        --secondary: 145 132 237;
        --accent: 98 76 251;
        
        --border-radius: 0.5rem;

        --font-sans: "Inter Variable";
        --font-display: "Space Grotesk Variable";
    }

    .dark {
        --text: 249 249 250;
        --background: 6 5 10;
        --primary: 75 59 196;
        --secondary: 31 19 124;
        --accent: 27 4 180;
    }
}

@layer components {
    .button {
        @apply rounded-full px-4 py-2
    }

    .button.primary {
        @apply bg-primary
    }

    .button.secondary {
        @apply bg-secondary
    }

    hr {
        @apply h-[1px] w-full bg-text/10 border-none
    }
}