<aside>
    <nav class="sidebar-block">
        <a routerLink="/home" class="sidebar-item" routerLinkActive="text-primary">
            <ng-icon size="22" name="lucideHome"></ng-icon>
            Home
        </a>
        <a routerLink="/messages" class="sidebar-item" routerLinkActive="text-primary">
            <ng-icon size="22" name="lucideMessageCircle"></ng-icon>
            Messages
        </a>
        <hr class="my-1" />
        <a routerLink="/notifications" class="sidebar-item" routerLinkActive="text-primary">
            <ng-icon size="22" name="lucideBell"></ng-icon>
            Notifications
        </a>
        <a routerLink="/settings" class="sidebar-item" routerLinkActive="text-primary">
            <ng-icon size="22" name="lucideCog"></ng-icon>
            Settings
        </a>
        <hr />
        @if (isUserLoading$ | async) {
            <app-ui-skeleton class="w-full h-10 rounded-default"></app-ui-skeleton>
        } @else {
            @if (user$ | async; as user) {
                <a routerLink="/account" class="sidebar-item" routerLinkActive="text-primary">
                    <ng-icon size="22" name="lucideCog"></ng-icon>
                    Settings
                </a>
            } @else {
                <a routerLink="/auth/sign-in" class="sidebar-item">
                    <ng-icon size="22" name="lucideLogIn"></ng-icon>
                    Sign In
                </a>
            }
        }
    </nav>
    <span class="flex-1"></span>
    <div class="sidebar-block">
        <hr class="my-1" />
        <button (click)="toggleTheme()" class="sidebar-item justify-between">
            Dark Theme
            <app-ui-switch class="pointer-events-none" [value]="isDarkTheme$ | async"></app-ui-switch>
        </button>
    </div>
</aside>