<div class="pb-10 pt-16 pr-10 flex flex-col h-screen overflow-y-scroll relative scrollbar-none">
    @if (isLoggedIn$ | async) {
    <app-post-form />
    <div class="mb-8"></div>
    }
    <div class="flex gap-2 mb-4">
        <button [classList]="['section-item', currentSection() === 'latest' ? 'bg-secondary/20' : 'hover:bg-text/5 text-text/80'].join(' ')" (click)="setSection('latest')">
            <ng-icon [class]="currentSection() === 'latest' ? 'text-primary' : ''"  name="lucideHistory" size="24" />
            Latest
        </button>
        @if (isLoggedIn$ | async) {
            <button [classList]="['section-item', currentSection() === 'following' ? 'bg-secondary/20' : 'hover:bg-text/5 text-text/80'].join(' ')" (click)="setSection('following')">
                <ng-icon [class]="currentSection() === 'following' ? 'text-primary' : ''"  name="lucideHeart" size="24" />
                Following
            </button>
        }
    </div>

    @if (currentSection() === "latest") {
    <app-posts-list [data]="latestPosts$" [fetchMore]="fetchMoreLatest.bind(this)" />
    } @else {
    <app-posts-list [data]="followingPosts$" [fetchMore]="fetchMoreFollowing.bind(this)" />
    }
</div>
