<div class="py-10 pr-10">
    @if (isLoggedIn$ | async) {
    <app-post-form />
    <div class="mb-8"></div>
    }
    <div class="flex gap-2 mb-4">
        <button [classList]="['section-item', currentSection() === 'latest' ? 'bg-secondary/20' : 'hover:bg-text/5 text-text/80'].join(' ')" (click)="setSection('latest')">
            <ng-icon [class]="currentSection() === 'latest' ? 'text-primary' : ''"  name="lucideHistory" size="24" />
            Latest
        </button>
        <button [classList]="['section-item', currentSection() === 'following' ? 'bg-secondary/20' : 'hover:bg-text/5 text-text/80'].join(' ')" (click)="setSection('following')">
            <ng-icon [class]="currentSection() === 'following' ? 'text-primary' : ''"  name="lucideHeart" size="24" />
            Following
        </button>
    </div>

    @if (currentSection() === "latest") {
    <app-posts-list [posts]="(latestPosts$ | async)!.posts" [isLoading]="(latestPosts$ | async)!.isLoading" [fetchMore]="fetchMoreLatest.bind(this)" />
    } @else {
    <app-posts-list [posts]="(followingPosts$ | async)!.posts" [isLoading]="(followingPosts$ | async)!.isLoading" [fetchMore]="fetchMoreFollowing.bind(this)" />
    }
</div>
