<div class="flex flex-col items-stretch">
    <h1 class="type">Welcome Back!</h1>
    <p class="mb-6 type label">Let's pick up where we left off.</p>
    <input class="input" placeholder="john.doe@example.com" [formControl]="email" />
    @if (email.invalid && (email.touched || email.dirty)) {
        @if (email.hasError("required")) {
            <p class="type error">Email is required.</p>
        } @else if (email.hasError("email")) {
            <p class="type error">Must be a valid email.</p>
        }
    }

    <span class="h-4"></span>

    <input class="input" placeholder="Password" type="password" [formControl]="password" />
    @if (password.invalid && (password.touched || password.dirty)) {
        @if (password.hasError("required")) {
            <p class="type error">Password is required.</p>
        } @else if (password.hasError("minlength")) {
            <p class="type error">Must be at least 8 characters long.</p>
        } @else if (password.hasError("maxlength")) {
            <p class="type error">Must be at most 72 characters long.</p>
        }
    }

    <span class="h-8"></span>

    <button class="primary" [disabled]="email.invalid || password.invalid">Sign In</button>
</div>