<div class="flex flex-col items-stretch">
    <h1 class="type">Let's get started!</h1>
    <p class="mb-6 type label">Happy to see you on board.</p>
    <input class="input" placeholder="Email" [formControl]="email" />
    @if (email.invalid && (email.touched || email.dirty)) {
        @if (email.hasError("required")) {
            <p formErrorLabel>Email is required.</p>
        } @else if (email.hasError("email")) {
            <p formErrorLabel>Must be a valid email.</p>
        }
    }

    <span class="h-4"></span>

    <input class="input" placeholder="Username" [formControl]="username" />
    @if (username.invalid && (username.touched || username.dirty)) {
        @if (username.hasError("required")) {
            <p formErrorLabel>Username is required.</p>
        } @else if (username.hasError("minlength")) {
            <p formErrorLabel>Must be at least 2 characters long.</p>
        } @else if (username.hasError("maxlength")) {
            <p formErrorLabel>Must be at most 32 characters long.</p>
        } @else if (username.hasError("pattern")) {
            <p formErrorLabel>Must be a valid username.</p>
        }
    }

    <span class="h-4"></span>

    <input class="input" placeholder="Password" type="password" [formControl]="password" />
    @if (password.invalid && (password.touched || password.dirty)) {
        @if (password.hasError("required")) {
            <p formErrorLabel>Password is required.</p>
        } @else if (password.hasError("minlength")) {
            <p formErrorLabel>Must be at least 8 characters long.</p>
        } @else if (password.hasError("maxlength")) {
            <p formErrorLabel>Must be at most 72 characters long.</p>
        }
    }

    <span class="h-4"></span>

    <input class="input" placeholder="Name" [formControl]="name" />
    @if (name.invalid && (name.touched || name.dirty)) {
        @if (name.hasError("required")) {
            <p formErrorLabel>Name is required.</p>
        } @else if (name.hasError("minlength")) {
            <p formErrorLabel>Must be at least 2 characters long.</p>
        } @else if (name.hasError("maxlength")) {
            <p formErrorLabel>Must be at most 64 characters long.</p>
        }
    }

    <span class="h-8"></span>

    <button class="primary flex items-center justify-center gap-2" (click)="register()" [disabled]="email.invalid || password.invalid || username.invalid || name.invalid || isLoading()">
        @if (isLoading()) {
            <app-ui-progress-spinner class="h-5 w-5" />
        }
        Register
    </button>

    <div #dynamic [@dynamicHeight]="{ value: error$ | async, params: { startHeight: dynamic.clientHeight } }">
        @if (error$ | async; as error) {
            <div class="px-4 py-3 rounded-default border border-error bg-error/40 mt-4">
                <div class="font-display font-medium">{{ error.title }}</div>
                <p class="text-sm">{{ error.detail }}</p>
            </div>
        }
    </div>
</div>