<div class="editor" #root></div>

<div class="bg-text/5">
  <div class="p-1.5 flex items-center h-12 justify-between">
      <div class="flex gap-2 items-center h-full text-text/60">
          <button
              class="footer-item"
              (click)="toggleMark('strong')"
          >
              <ng-icon name="lucideBold" size="22" />
          </button>
          <button
              class="footer-item"
              (click)="toggleMark('em')"
          >
              <ng-icon name="lucideItalic" size="22" />
          </button>
          <button
              class="footer-item"
              (click)="toggleMark('code')"
          >
              <ng-icon name="lucideCode" size="22" />
          </button>
          <div class="divider"></div>
          <button
              class="footer-item"
              (click)="openImageSelector()"
          >
              <ng-icon name="lucideImage" size="22" />
          </button>
          <button
              class="footer-item"
              (click)="openFileSelector()"
          >
              <ng-icon name="lucidePaperclip" size="22" />
          </button>
      </div>
      <button
          class="p-2 flex items-center justify-center text-text/80 hover:text-accent transition-colors disabled:text-text/60 disabled:hover:text-text/60"
          (click)="handleSendClick()"
          [disabled]="sendDisabled()"
      >
          <ng-icon name="lucideSendHorizontal" size="22" />
      </button>
      <input #imagePicker accept="image/*" multiple (change)="onAttachmentsPicked($event, 'image')" class="hidden" type="file" />
      <input #filePicker (change)="onAttachmentsPicked($event, 'file')" class="hidden" type="file" />
  </div>
    @if (images().length) {
      <div class="py-3 px-4">
        <div class="font-display font-semibold mb-2">Images <span>(<span class="{{ images().length > 3 ? 'text-error' : '' }}">{{ images().length }}</span > out of 3)</span></div>
        <div class="flex gap-2 flex-wrap">
              @for (image of images(); track image.name) {
                <div @imageAppear>
                  <div class="h-32 w-56 rounded-default overflow-hidden relative">
                    @if (loadedImages()[$index]) {
                      <img class="h-full w-full object-cover blur absolute inset-0 -z-10 brightness-50" [src]="loadedImages()[$index]" />
                      <img class="h-full w-full object-contain" [src]="loadedImages()[$index]" />
                      <button (click)="removeImage($index)" class="absolute top-2 right-2">
                        <ng-icon name="lucideX" size="18" />
                      </button>
                    }
                    @if (image.size > 3000000) {
                      <div class="absolute inset-x-0 bottom-0 h-10 bg-gradient-to-t from-black/60 to-transparent text-error font-display flex text-sm font-medium items-end">
                        <div class="flex items-center gap-1 px-2 py-1.5">
                          <ng-icon name="lucideAlertCircle" size="16" />
                          File is too large.
                        </div>
                      </div>
                    }
                  </div>
                </div>
              }
            </div>
      </div>
    }
    @if (files().length) {
      <div class="pt-3 pb-4 px-4">
        <div class="font-display font-semibold mb-2">Files <span>(<span class="{{ files().length > 3 ? 'text-error' : '' }}">{{ files().length }}</span > out of 3)</span></div>
        <div class="flex gap-2 flex-wrap">
              @for (file of files(); track file.name) {
                <div @imageAppear>
                  <div class="w-56 rounded-default font-display bg-text/5 border border-text/10 px-4 py-2">
                      <div class="flex justify-between w-full">
                        <div class="max-w-40 overflow-hidden text-ellipsis whitespace-nowrap">{{ postsService.extractFileMetadata(file.name).filename }}</div>
                        <button (click)="removeFile($index)" class="flex items-center">
                          <ng-icon name="lucideX" size="18" />
                        </button>
                      </div>
                      @if (file.size > 3000000) {
                        <div class="text-error font-display flex text-sm font-medium items-end">
                          File is too large.
                        </div>
                      } @else {
                        <div class="font-display text-sm font-medium text-text/60">{{ readableFileSize(file.size) }}{{ postsService.extractFileMetadata(file.name).extension.length ? (", " + postsService.extractFileMetadata(file.name).extension) : "" }}</div>
                      }
                  </div>
                </div>
              }
            </div>
      </div>
    }
</div>
