<div class="flex flex-col items-stretch gap-4">
    @if (posts$ | async; as posts) {
        @for (batch of posts; track $index) {
            @if (batch.length > 0) {
                @for (post of batch; track post.id) {
                    <app-ui-post [post]="$any(post)" />
                }
            } @else {
                <div @label class="h-12 w-full flex items-center justify-center gap-4 text-text/80 font-display">
                    No posts left.
                </div >
            }
        }

        @if (isLoading$ | async) {
            <div @label class="h-12 w-full flex items-center justify-center gap-4 text-text/80 font-display">
                <app-ui-progress-spinner class="h-6 w-6 text-primary" />
                Loading more posts...
            </div>
        }
    } @else {
        @if (isLoading$ | async) {
            @for (_ of [].constructor(5); track $index) {
                <app-ui-skeleton class="w-full h-28 rounded-default mb-4" />
            }
        }
    }
    <div class="w-full" #listEnd></div>
</div>
