<button cdkOverlayOrigin #trigger="cdkOverlayOrigin" class="flex items-center gap-2 rounded-default bg-text/5 border border-text/10 pr-2 pl-3 py-1 font-display" (click)="toggle()">
    {{ currentItem()?.label }}
    <ng-icon name="lucideChevronDown" />
</button>
<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="isOpen()" (backdropClick)="isOpen.set(false)" [cdkConnectedOverlayHasBackdrop]="true" cdkConnectedOverlayBackdropClass="!opacity-0">
    <div class="p-1 bg-text/5 backdrop-blur rounded-default border border-text/10 min-w-48 translate-y-1">
        @for (item of items(); track item.label) {
        <app-ui-dropdown-item (onSelect)="setCurrentItem($index)">
            <app-ui-avatar [src]="$any(item).imageUrl" [customIcon]="isWithIcon(item) ? item.icon : 'lucideCircleSlash'" icon />
            {{ item.label }}
        </app-ui-dropdown-item>
        }
    </div>
</ng-template>
