<button cdkOverlayOrigin #trigger="cdkOverlayOrigin" class="flex items-center gap-2 rounded-default bg-text/5 border border-text/10 pr-2 pl-3 py-1 font-display" (click)="toggle()">
    {{ currentItem()?.label }}
    <ng-icon name="lucideChevronDown" />
</button>
<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="isOpen()">
    <div class="p-1 bg-text/5 backdrop-blur rounded-default border border-text/10 min-w-48 translate-y-1">
        @for (item of items(); track item.label) {
        <app-ui-dropdown-item (onSelect)="setCurrentItem($index)">
            @if (isWithImage(item)) {
                <app-ui-avatar [src]="$any(currentItem()).imageUrl" [customIcon]="isWithIcon(item) ? item.icon : 'lucideCircleSlash'" icon />
            } @else if (isWithIcon(item)) {
                <ng-icon [svg]="item.icon" icon />
            }
            {{ item.label }}
        </app-ui-dropdown-item>
        }
    </div>
</ng-template>
